@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background: linear-gradient(#49bcc7, #275763);
}

h1{
  font-size: 2em;
  margin-bottom: 0.5em;
  font-weight: bold;
}

.botonform{
  color: white;
  background-color: #2da0ad;
}

.botonform:hover{
  background-color: #298291;
}

.card {
  font-family: Arial, sans-serif;
  width: 310px;
  padding: 24px;
  border-radius: 20px;
  background: linear-gradient(135deg, #49bcc7, #275763);
  box-shadow:
    0 15px 25px -5px rgba(0, 0, 0, 0.2),
    0 5px 10px -2px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
  color: white;
}
/* Efecto de brillo superior */
.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 150%;
  height: 200%;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.15) 0%, transparent 60%);
  transform: translateX(-50%) rotate(-30deg);
  pointer-events: none;
}

.card-title {
  font-size: 1.2em;
  font-weight: bold;
  color: white;
  letter-spacing: 0.5px;
}

.balance {
  font-size: 2em;
  font-weight: bold;
  text-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

/* From Uiverse.io by vinodjangid07 */ 
.Btn {
  border-radius: 20px;
  width: 200px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(15, 15, 15);
  border: none;
  color: white;
  font-weight: 600;
  font-size: x-large;
  gap: 8px;
  cursor: pointer;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.103);
  position: relative;
  overflow: hidden;
  transition-duration: .3s;
}

.svgIcon {
  width: 16px;
}

.svgIcon path {
  fill: white;
}

.Btn::before {
  width: 200px;
  height: 170px;
  position: absolute;
  content: "";
  background-color: var(--hover-bg-color, white);
  border-radius: 50%;
  left: -100%;
  top: 0;
  transition-duration: .3s;
  mix-blend-mode: difference;
}

.Btn:hover::before {
  transition-duration: .3s;
  transform: translate(100%,-50%);
  border-radius: 0;
}

.Btn:active {
  transform: translate(5px,5px);
  transition-duration: .3s;
}

