@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background: linear-gradient(#49bcc7, #275763);
}

h1{
  font-size: 2em;
  margin-bottom: 0.5em;
  font-weight: bold;
}

.botonform{
  color: white;
  background-color: #2da0ad;
}

.botonform:hover{
  background-color: #298291;
}